atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4.3
importlib-metadata==2.0.0
llvmlite==0.32.1
loguru==0.5.3
more-itertools==8.3.0
numba==0.49.1
numpy==1.18.4
packaging==20.4
pandas==1.0.3
pluggy==0.13.1
py==1.8.1
py4j==0.10.7
pyarrow==0.17.0
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
thrift==0.13.0
wcwidth==0.1.9
zipp==3.2.0
